rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global safety net: default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Albums: Allow read, write for any user (public read and write access since no Firebase Auth is used)
    match /albums/{albumId} {
      allow read, write: if true;
    }
  }
}
